.quiz-choice {
    margin: 1%;
    width: 23%;
    padding: 3% 0;
    text-align: center;
    border: 1px solid;
    font-size: 1.5rem;
}

.submit-btn {
    padding: 1rem 3%;
    margin: 0 45%;
    font-size: 1.5rem;
}
